<div class="loading-overlay" *ngIf="isLoading | async">
    <div class="spinner"></div>
</div>

<!-- <div class="terminal-loader" *ngIf="isLoading | async">
    <div class="terminal-header">
        <div class="terminal-title">Status</div>
        <div class="terminal-controls">
            <div class="control close"></div>
            <div class="control minimize"></div>
            <div class="control maximize"></div>
        </div>
    </div>
    <div class="text">Loading...</div>
</div> -->
