.add-arquivo {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.none {
    display: none;
}

.btn-acoes {
    margin-left: 10px;
}

.container-table {
    display: flex;
    justify-content: center;
}

.width-card {
    width: 80%;
}
