<!-- MENU -->
<app-menu></app-menu>

<!-- BTN'S UPLOAD/UPDATE ARQUIVO -->
<div>
    <input
        id="fileUploadInput"
        class="none"
        placeholder="none"
        type="file"
        (change)="fileUpload($event)"
        multiple
    />
    <input
        id="fileUpdateInput"
        class="none"
        placeholder="none"
        type="file"
        (change)="fileUpdate($event)"
        multiple
    />
</div>

<p-speedDial [model]="items" direction="up">
    <ng-template pTemplate="item" let-item>
        <a
            class="p-speeddial-action"
            pTooltip="{{ item.tooltip }}"
            tooltipPosition="left"
            (click)="item.command()"
        >
            <span class="p-button-icon" [ngStyle]="item.style">
                <i [class]="item.icon" [ngStyle]="item.iconStyle"></i>
            </span>
        </a>
    </ng-template>
</p-speedDial>

<!-- TOTALIZADORES? -->
<!-- 1 & 2 -->
<div
    class="totalizadores"
    [ngClass]="{ show: mostrarCardsInfos, hide: !mostrarCardsInfos }"
>
    <div
        class="card-totalizador box-3d"
        *ngFor="let totalizador of totalizadoresArquivos"
    >
        <p class="titulo-totalizador">{{ totalizador.titulo }}</p>
        <p>Qtd. de arquivos: {{ totalizador.qtd }}</p>
        <p>Tamanho: {{ totalizador.tamanho }}</p>
    </div>
</div>

<!-- TABELA -->
<div class="container-table">
    <div class="width-card">
        <div class="style-card box-3d">
            <p-table
                #tbArquivos
                [value]="arquivoList"
                dataKey="nome"
                editMode="row"
                [(selection)]="arquivosSelecionados"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-sm"
                responsiveLayout="stack"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'extensao']"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
            >
                <ng-template pTemplate="caption">
                    <div class="acoes-table">
                        <div class="mtb-5" style="margin: 5px 0px">
                            <p-iconField iconPosition="left" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input
                                    pInputText
                                    type="text"
                                    (input)="filterArquivos($event, tbArquivos)"
                                    placeholder="Pesquisar arquivo..."
                                />
                            </p-iconField>
                        </div>
                        <div class="mtb-5">
                            <div
                                pTooltip="Mostrar informações"
                                tooltipPosition="bottom"
                            >
                                <p-button
                                    (click)="mostrarInformacoes()"
                                    icon="pi pi-chart-bar"
                                    [text]="true"
                                    [raised]="true"
                                />
                            </div>
                            <div
                                pTooltip="Link de download"
                                tooltipPosition="bottom"
                            >
                                <p-button
                                    (click)="obterArquivoDoZip()"
                                    icon="pi pi-link"
                                    [text]="true"
                                    [raised]="true"
                                    [disabled]="!desabilitarAcoesEmLote()"
                                />
                            </div>
                            <div pTooltip="Download" tooltipPosition="bottom">
                                <p-button
                                    (click)="downloadArquivosZip()"
                                    icon="pi pi-download"
                                    [text]="true"
                                    [raised]="true"
                                    [disabled]="!desabilitarAcoesEmLote()"
                                />
                            </div>
                            <div pTooltip="Deletar" tooltipPosition="bottom">
                                <p-button
                                    (click)="deletarArquivos()"
                                    icon="pi pi-trash"
                                    [text]="true"
                                    [raised]="true"
                                    [disabled]="!desabilitarAcoesEmLote()"
                                />
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th>Arquivo</th>
                        <th pSortableColumn="nome">
                            Nome <p-sortIcon field="nome" />
                        </th>
                        <th pSortableColumn="extensao">
                            Extensão <p-sortIcon field="extensao" />
                        </th>
                        <th pSortableColumn="tamanho">
                            Tamanho <p-sortIcon field="tamanho" />
                        </th>
                        <th pSortableColumn="dataCriacao">
                            Data Envio <p-sortIcon field="dataCriacao" />
                        </th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-arquivo
                    let-editing="editing"
                    let-idx="rowIndex"
                >
                    <tr [pEditableRow]="arquivo">
                        <td>
                            <p-tableCheckbox [value]="arquivo" />
                        </td>
                        <td>
                            <ng-container *ngIf="arquivo.previewSrc">
                                <img
                                    id="previews"
                                    [src]="arquivo.previewSrc"
                                    (click)="abrirArquivo(arquivo)"
                                    width="50"
                                    height="50"
                                    alt="{{ arquivo.nome }}"
                                    class="redimensionar-imagem"
                                    [ngClass]="{
                                        'cursor-pointer': !isArquivoGenerico(
                                            arquivo.extensao
                                        )
                                    }"
                                />
                            </ng-container>
                        </td>

                        <td class="text-truncate" pTooltip="{{ arquivo.nome }}">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="text"
                                        [(ngModel)]="
                                            this.arquivoEmEdicao.arquivo.nome
                                        "
                                        style="width: 100%"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ arquivo.nome }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="text-truncate">{{ arquivo.extensao }}</td>
                        <td class="text-truncate">{{ arquivo.tamanho }}</td>
                        <td>
                            {{
                                arquivo.dataCriacao
                                    | localDateTimeFormat: 'dd/MM/yyyy HH:mm:ss'
                            }}
                        </td>
                        <td>
                            <div class="flex align-items-center gap-2">
                                <p-button
                                    *ngIf="!editing"
                                    (click)="op.toggle($event)"
                                    icon="pi pi-cog"
                                    [rounded]="true"
                                    [text]="true"
                                    [raised]="true"
                                    severity="help"
                                />

                                <p-overlayPanel #op>
                                    <p-button
                                        (onClick)="
                                            downloadFile(
                                                arquivo.nome,
                                                arquivo.extensao
                                            )
                                        "
                                        icon="pi pi-download"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        pTooltip="Download"
                                        tooltipPosition="bottom"
                                        [style]="{ color: '#e81cff' }"
                                    />
                                    <p-button
                                        (onClick)="clickUpdateFile(arquivo)"
                                        icon="pi pi-upload"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        class="btn-acoes"
                                        pTooltip="Update"
                                        tooltipPosition="bottom"
                                        [style]="{ color: '#e81cff' }"
                                    />
                                    <p-button
                                        (onClick)="
                                            deletar(
                                                arquivo.nome,
                                                arquivo.extensao
                                            )
                                        "
                                        icon="pi pi-trash"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        class="btn-acoes"
                                        pTooltip="Deletar"
                                        tooltipPosition="bottom"
                                        [style]="{ color: '#e81cff' }"
                                    />
                                    <p-button
                                        (click)="
                                            onRowEditInit(arquivo, idx);
                                            op.hide()
                                        "
                                        pInitEditableRow
                                        icon="pi pi-pencil"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        class="btn-acoes"
                                        pTooltip="Editar nome"
                                        tooltipPosition="bottom"
                                        [style]="{ color: '#e81cff' }"
                                    />
                                </p-overlayPanel>

                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pSaveEditableRow
                                    icon="pi pi-check"
                                    (click)="onRowEditSave(idx)"
                                    class="p-button-rounded p-button-text btn-confirmar-editar"
                                ></button>

                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pCancelEditableRow
                                    icon="pi pi-times"
                                    (click)="onRowEditCancel()"
                                    id="{{ idx }}"
                                    class="p-button-rounded p-button-text btn-cancelar-editar"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-midia-dialog #midiaDialog> </app-midia-dialog>
<app-editor-texto-dialog #editorTextoDialog (eventUpdate)="listar()">
</app-editor-texto-dialog>
