<div class="add-arquivo">
    <input
        id="fileUploadInput"
        class="none"
        placeholder="none"
        type="file"
        (change)="fileUpload($event)"
        multiple
    />
    <input
        id="fileUpdateInput"
        class="none"
        placeholder="none"
        type="file"
        (change)="fileUpdate($event)"
        multiple
    />
    <p-button
        icon="pi pi-plus"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        (click)="clickUploadFile()"
    />
</div>

<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <div
                class="div-icon-box"
                style="display: flex; align-items: center"
            >
                <img
                    src="/assets/favicon.ico"
                    class="girar"
                    style="margin-bottom: 10px"
                />
                ShareBox
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div
                class="flex align-items-center gap-2"
                style="margin-right: 30px"
            >
                <p-avatar
                    (click)="op.toggle($event)"
                    styleClass="cursor-pointer"
                    icon="pi pi-user"
                    shape="circle"
                >
                </p-avatar>

                <p-overlayPanel #op [style]="{ width: '200px' }">
                    <div class="menu-avatar">
                        <p-button
                            (click)="sair()"
                            icon="pi pi-user-edit"
                            [rounded]="true"
                            [text]="true"
                            [raised]="true"
                        />
                        <p class="btn-acoes">Editar Perfil</p>
                    </div>
                    <div class="menu-avatar" (click)="sair()">
                        <p-button
                            icon="pi pi-sign-out"
                            [rounded]="true"
                            [text]="true"
                            [raised]="true"
                        />
                        <p class="btn-acoes">Sair</p>
                    </div>
                </p-overlayPanel>
            </div>
        </ng-template>
    </p-menubar>
</div>

<div class="container-table">
    <div class="width-card">
        <p-card>
            <p-table
                #tbArquivos
                [value]="arquivoList"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-sm"
                responsiveLayout="stack"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'extensao']"
                [loading]="loading"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input
                                pInputText
                                type="text"
                                (input)="filterArquivos($event, tbArquivos)"
                                placeholder="Pesquisar arquivo..."
                            />
                        </p-iconField>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Arquivo</th>
                        <th pSortableColumn="nome">
                            Nome <p-sortIcon field="nome" />
                        </th>
                        <th pSortableColumn="extensao">
                            Extensão <p-sortIcon field="extensao" />
                        </th>
                        <th pSortableColumn="tamanho">
                            Tamanho <p-sortIcon field="tamanho" />
                        </th>
                        <th pSortableColumn="dataCriacao">
                            Data Envio <p-sortIcon field="dataCriacao" />
                        </th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-arquivo>
                    <tr>
                        <td>
                            <ng-container *ngIf="arquivo.previewSrc">
                                <img
                                    *ngIf="isImagemExtensao(arquivo.extensao)"
                                    [src]="arquivo.previewSrc"
                                    (click)="abrirMidia(arquivo)"
                                    width="50"
                                    height="50"
                                    alt="{{ arquivo.nome }}"
                                    class="cursor-pointer"
                                />
                                <img
                                    *ngIf="isVideoExtensao(arquivo.extensao)"
                                    [src]="arquivo.previewSrc"
                                    (click)="abrirMidia(arquivo)"
                                    width="50"
                                    height="50"
                                    alt="{{ arquivo.nome }}"
                                    class="cursor-pointer"
                                />
                                <img
                                    *ngIf="isAudioExtensao(arquivo.extensao)"
                                    [src]="arquivo.previewSrc"
                                    (click)="abrirMidia(arquivo)"
                                    width="50"
                                    height="50"
                                    alt="{{ arquivo.nome }}"
                                    class="cursor-pointer"
                                />

                                <a
                                    *ngIf="isPdfExtensao(arquivo.extensao)"
                                    [href]="arquivo.url"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        [src]="arquivo.previewSrc"
                                        width="50"
                                        [alt]="arquivo.nome"
                                        class="shadow-4"
                                        title="arquivo"
                                    />
                                </a>
                                <img
                                    *ngIf="isTxtExtensao(arquivo.extensao)"
                                    [src]="arquivo.previewSrc"
                                    (click)="abrirEditorTexto(arquivo)"
                                    width="50"
                                    alt="{{ arquivo.nome }}"
                                    class="cursor-pointer"
                                />
                                <!-- ESLSE ALTERAR PARA ARQUIVO DE TEXTO TXT/DOCX '-' -->
                                <img
                                    *ngIf="isArquivoGenerico(arquivo.extensao)"
                                    [src]="arquivo.previewSrc"
                                    width="50"
                                    alt="{{ arquivo.nome }}"
                                />
                            </ng-container>
                        </td>

                        <td class="text-truncate">{{ arquivo.nome }}</td>
                        <td class="text-truncate">{{ arquivo.extensao }}</td>
                        <td class="text-truncate">{{ arquivo.tamanho }}</td>
                        <td>
                            {{
                                arquivo.dataCriacao
                                    | localDateTimeFormat: 'dd/MM/yyyy HH:mm:ss'
                            }}
                        </td>
                        <td>
                            <div class="flex align-items-center gap-2">
                                <p-button
                                    (click)="op.toggle($event)"
                                    icon="pi pi-cog"
                                    [rounded]="true"
                                    [text]="true"
                                    [raised]="true"
                                />

                                <p-overlayPanel #op>
                                    <p-button
                                        (onClick)="
                                            downloadFile(
                                                arquivo.nome,
                                                arquivo.extensao
                                            )
                                        "
                                        icon="pi pi-download"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        pTooltip="Download"
                                        tooltipPosition="bottom"
                                    />
                                    <p-button
                                        (onClick)="clickUpdateFile(arquivo)"
                                        icon="pi pi-upload"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        class="btn-acoes"
                                        pTooltip="Upload"
                                        tooltipPosition="bottom"
                                    />
                                    <p-button
                                        (onClick)="
                                            deletar(
                                                arquivo.nome,
                                                arquivo.extensao
                                            )
                                        "
                                        icon="pi pi-trash"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        class="btn-acoes"
                                        pTooltip="Deletar"
                                        tooltipPosition="bottom"
                                    />
                                    <p-button
                                        (onClick)="sair()"
                                        icon="pi pi-pen-to-square"
                                        [rounded]="true"
                                        [text]="true"
                                        [raised]="true"
                                        [disabled]="true"
                                        class="btn-acoes"
                                        pTooltip="Editar"
                                        tooltipPosition="bottom"
                                    />
                                </p-overlayPanel>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

<app-midia-dialog #midiaDialog> </app-midia-dialog>
<app-editor-texto-dialog #editorTextoDialog> </app-editor-texto-dialog>
