textarea {
    border: 2px solid rgb(223, 221, 221);
    width: 40vw;
    height: 40vh;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.btn-editar {
    display: flex;
    justify-content: end;
    margin-top: 3%;
}
