//VARIAVEIS GLOBAIS
$linear-gradiente: linear-gradient(
    135deg,
    rgb(145, 226, 253),
    rgb(197, 32, 197),
    pink
) !important;
$cor-roxa: #e81cff; //COR DA BORDAR DO INPUT DO "CARD"
$cor-rosa-claro: pink;
$cor-azul-claro: rgb(145, 226, 253);
