<p-dialog
    [(visible)]="displayExcel"
    [modal]="true"
    [header]="header"
    [closable]="true"
    (onHide)="hideDialogEditor()"
    (onShow)="removeFocus()"
>
    <main>
        <section>
            <ng-container *ngIf="excelData.length > 0">
                <p-tabView
                    [(activeIndex)]="abaSelecionada"
                    (click)="mudarAba(abaSelecionada)"
                >
                    <p-tabPanel
                        *ngFor="let sheet of excelData; let i = index"
                        [header]="sheet.sheetName"
                    >
                        <p-table
                            [value]="sheet.data"
                            editMode="cell"
                            styleClass="p-datatable-gridlines"
                            [scrollable]="true"
                            scrollHeight="57vh"
                            scrollWidth="80vw"
                        >
                            <ng-template
                                pTemplate="body"
                                let-row
                                let-rowIndex="rowIndex"
                            >
                                <tr *ngIf="rowIndex === 0">
                                    <td *ngFor="let letter of colunasExcel">
                                        {{ letter }}
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngIf="excluirLinha">
                                        {{ rowIndex + 2 }}
                                    </td>
                                    <td>{{ rowIndex + 1 }}</td>
                                    <td
                                        *ngFor="
                                            let cell of row;
                                            let colIndex = index
                                        "
                                        [pEditableColumn]="true"
                                    >
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input
                                                    type="text"
                                                    [(ngModel)]="
                                                        celulaEmEdicao[
                                                            abaSelecionada
                                                        ].data[rowIndex][
                                                            colIndex
                                                        ]
                                                    "
                                                    class="p-inputtext p-component"
                                                    (change)="
                                                        onRowEditChange(
                                                            abaSelecionada,
                                                            rowIndex,
                                                            colIndex
                                                        )
                                                    "
                                                    (keydown.enter)="
                                                        onRowEditChange(
                                                            abaSelecionada,
                                                            rowIndex,
                                                            colIndex
                                                        )
                                                    "
                                                />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ cell }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                </p-tabView>
            </ng-container>
        </section>
    </main>
    <footer class="btn-footer-dialog">
        <p-button
            label="Salvar"
            [text]="true"
            [raised]="true"
            icon="pi pi-save"
            (click)="salvarAlteracoes()"
        />
        <p-button
            label="Adicionar Linha"
            [text]="true"
            [raised]="true"
            icon="pi pi-plus"
            (click)="adicionarLinha(abaSelecionada)"
        />
        <p-button
            label="Remover Linhas"
            [text]="true"
            [raised]="true"
            icon="pi pi-plus"
            (click)="removerColuna(abaSelecionada)"
        />
        <p-button
            label="Adicionar Coluna"
            [text]="true"
            [raised]="true"
            icon="pi pi-plus"
            (click)="adicionarColuna(abaSelecionada)"
        />
    </footer>
</p-dialog>
