<div class="container">
    <div class="container">
        <div class="form-container box-3d">
            <div class="logo">
                <div class="div-icon-box">
                    <img src="/assets/favicon.ico" class="girar" />
                </div>
                <p>ShareBox</p>
            </div>
            <form class="form">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input
                        [(ngModel)]="usuario.usuario"
                        type="text"
                        id="usuario"
                        name="usuario"
                        required=""
                    />

                    <label for="senha">Senha</label>
                    <input
                        type="password"
                        id="senha"
                        name="senha"
                        [(ngModel)]="usuario.senha"
                        required=""
                    />
                </div>

                <button
                    class="form-submit-btn custom-gradient-button"
                    type="submit"
                    (click)="login()"
                >
                    Entrar
                </button>

                <p
                    class="cadastro cursor-pointer roxo"
                    (click)="abrirDialogEsquecerSenha()"
                >
                    Esqueceu a senha?
                </p>
                <p class="cadastro cursor-pointer" (click)="telaCadastro()">
                    Cadastre-se aqui
                </p>
            </form>
        </div>
    </div>
</div>

<p-dialog
    header="Redefinir Senha"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
>
    <span class="p-text-secondary block" style="margin-bottom: 5%"
        >Insira seu email para redefinir sua senha.</span
    >

    <div class="modal-email">
        <label for="email" class="font-semibold w-6rem">Email</label>
        <input
            pInputText
            [(ngModel)]="emailRecuperarSenha"
            [ngModelOptions]="{ standalone: true }"
            id="email"
            class="flex-auto"
            autocomplete="off"
            style="margin-left: 3%"
        />
    </div>
    <div class="modal-botoes">
        <p-button
            label="Cancelar"
            severity="contrast"
            (onClick)="visible = false"
        />
        <p-button label="Enviar" severity="help" (click)="esqueceuASenha()" />
    </div>
</p-dialog>
