<div class="container">
    <p-card header="ShareBox" class="card">
        <div class="div-icon-box">
            <i class="pi pi-spin pi-box icon-box"></i>
        </div>
        <div class="form">
            <div class="inp">
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="usuario.usuario"
                    placeholder="Usuario"
                />
            </div>
            <div class="inp">
                <p-password
                    [(ngModel)]="usuario.senha"
                    [feedback]="false"
                    placeholder="Senha"
                />
            </div>
            <div class="btn-entrar">
                <p-button label="Entrar" [raised]="true" (click)="login()" />
            </div>
        </div>
    </p-card>
</div>
