<!-- VIDEO -->
<p-dialog
    [(visible)]="displayVideo"
    [modal]="true"
    [header]="header"
    [closable]="true"
    (onHide)="hideDialogMidia()"
>
    <video controls>
        <source [src]="midia" [type]="mimeType" />
        Seu navegador não suporta a tag de vídeo.
    </video>
</p-dialog>

<!-- AUDIO -->
<p-dialog
    [(visible)]="displayAudio"
    [modal]="true"
    [header]="header"
    [closable]="true"
    (onHide)="hideDialogMidia()"
>
    <div>
        <audio controls>
            <source [src]="midia" [type]="mimeType" />
            Seu navegador não suporta a tag de áudio.
        </audio>
    </div>
</p-dialog>

<!-- IMAGEM -->
<p-dialog
    [(visible)]="displayImagem"
    [modal]="true"
    [header]="header"
    [closable]="true"
    (onHide)="hideDialogMidia()"
>
    <img [src]="midia" [alt]="header" class="redimensionar-imagem" />
</p-dialog>
