@import './../../../../styles/variaveis.scss';

:host ::ng-deep .p-menubar {
    background:
        linear-gradient(#212121, #212121) padding-box,
        linear-gradient(
                135deg,
                pink 10%,
                rgb(197, 32, 197) 40%,
                rgb(145, 226, 253) 85%
            )
            border-box;
    border: 2px solid transparent;
    color: white;
}

.menu-avatar {
    display: flex;
    cursor: pointer;
    padding: 5px;
}

.menu-avatar:hover {
    background-color: $cor-azul-claro;
    border-radius: 10px;
}

//TAMANHO DA "LOGO"
.girar {
    width: 25px;
}

.menu-avatar p {
    margin-left: 10px;
}

