<!-- MENU -->
<div *ngIf="isEditarPerfil">
    <app-menu></app-menu>
</div>

<div class="container">
    <div class="form-container box-3d">
        <div class="cadastro">
            <i
                class="pi pi-arrow-left cursor-pointer"
                [pTooltip]="msgVoltar"
                tooltipPosition="left"
                (click)="voltar()"
            ></i>
            <div class="titulo-cadastro">
                {{ !isEditarPerfil ? 'Cadastro' : 'Atualizar Perfil' }}
            </div>
        </div>
        <form
            [formGroup]="cadastroAtualizacaoForm"
            (ngSubmit)="onSubmit()"
            class="form"
        >
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" formControlName="nome" required />
                <div
                    *ngIf="
                        cadastroAtualizacaoForm.get('nome')?.touched &&
                        cadastroAtualizacaoForm.get('nome')?.invalid
                    "
                    class="error"
                >
                    Nome é obrigatório.
                </div>

                <label for="email">Email</label>
                <input
                    type="text"
                    id="email"
                    formControlName="email"
                    required
                />
                <div
                    *ngIf="
                        cadastroAtualizacaoForm.get('email')?.touched &&
                        cadastroAtualizacaoForm.get('email')?.invalid
                    "
                    class="error"
                >
                    Informe um email válido.
                </div>

                <label for="usuario">Usuario</label>
                <input
                    type="text"
                    id="usuario"
                    formControlName="usuario"
                    required
                />
                <div
                    *ngIf="cadastroAtualizacaoForm.get('usuario')?.touched"
                    class="error"
                >
                    <div
                        *ngIf="
                            cadastroAtualizacaoForm.get('usuario')?.errors?.[
                                'required'
                            ]
                        "
                    >
                        Usuário é obrigatório.
                    </div>
                    <div
                        *ngIf="
                            cadastroAtualizacaoForm.get('usuario')?.errors?.[
                                'minlength'
                            ]
                        "
                    >
                        O usuário deve ter pelo menos 3 caracteres.
                    </div>
                </div>

                <label for="senha">Senha</label>
                <input
                    type="password"
                    id="senha"
                    formControlName="senha"
                    required
                />
                <div
                    *ngIf="
                        cadastroAtualizacaoForm.get('senha')?.touched &&
                        cadastroAtualizacaoForm.get('senha')?.invalid
                    "
                    class="error"
                >
                    A senha deve ter pelo menos 3 caracteres.
                </div>

                <label for="confirmarSenha">Confirmar Senha</label>
                <input
                    type="password"
                    id="confirmarSenha"
                    formControlName="confirmarSenha"
                    required
                />
                <div
                    *ngIf="
                        cadastroAtualizacaoForm.errors?.['senhasDiferentes'] &&
                        (cadastroAtualizacaoForm.get('confirmarSenha')
                            ?.touched ||
                            cadastroAtualizacaoForm.get('senha')?.touched)
                    "
                    class="error"
                >
                    As senhas não coincidem.
                </div>
            </div>

            <button
                class="form-submit-btn custom-gradient-button"
                type="submit"
            >
            {{ !isEditarPerfil ? 'Cadastrar' : 'Atualizar' }}
            </button>
        </form>
    </div>
</div>
