/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 230, 243);
}

.cursor-pointer {
    cursor: pointer;
}

.swal2-custom-confirm {
    background-color: #28a745; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remover borda */
}

.swal2-custom-confirm:focus-visible {
    box-shadow: none;
}

.swal2-custom-cancel {
    background-color: #fc2c2c; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remover borda */
}

.girar {
    animation: girar 2s infinite;
}

@keyframes girar {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.box-3d {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow:
        10px 10px 8px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    transition: transform 0.3s;
}
